.button {
  margin-top: 0px;
  margin-right: 30px;
  background-color: hsl(54, 94%, 54%);
  margin-left: auto;
  border-radius: 6px;
  cursor: pointer;
}

.item {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
  font-size: 18px;
}

.list {
  padding-left: 0px;
}
